body {
    background-color: #161618; 
    color: #000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; 
  }
  
  .create_post-container {
    background: #333338; 
    padding: 80px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    border: 1px solid #333338; 
    position: relative;
    transform: translateZ(0);
  }

  .create_post-form h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    color: #FFFFFF; 
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }

  .form-desc {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group input {
    width: 100%;
    padding: 14px 14px 14px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05); 
    color: #FFFFFF; 
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .form-desc input {
    width: 100%;
    padding: 20px 30px 150px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05); 
    color: #FFFFFF; 
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  .btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #FF4500, #b4483a); 
    color: #FFFFFF; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  }

  .btn:hover {
    background: linear-gradient(45deg, #ff4500, #b4483a);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  