body {
    background-color: #161618; 
    color: #000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; 
  }
  
  .create_post-container {
    background: #333338; 
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    border: 1px solid #333338; 
    position: relative;
    transform: translateZ(0);
  }

  .create_post-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #FFFFFF; 
  }
  