@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    background-color: #161618; 
    color: #000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased; 
  }
  
  
  .login-container {
    background: #333338; 
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    border: 1px solid #333338; 
    position: relative;
    transform: translateZ(0);
  }
  
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #FFFFFF; 
  }
  
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff; 
    font-size: 20px;
  }
  
  .form-group input {
    width: 100%;
    padding: 14px 14px 14px 45px;
    border: 2px solid rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05); 
    color: #FFFFFF; 
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  .form-group input:focus {
    background-color: rgba(0, 0, 0, 0.1); 
    border-color: #000; 
  }
  
  .form-group input::placeholder {
    color: #666; 
  }
  
  
  .btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #FF4500, #b4483a); 
    color: #FFFFFF; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  }
  
  .btn:hover {
    background: linear-gradient(45deg, #ff4500, #b4483a);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
  
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .forgot-password {
    color: #FF4500;
  }
  
  .signup-link, .login-link {
    text-align: center;
    margin-top: 25px;
  }
  
  .signup-link p, .login-link p {
    font-size: 14px;
    color: #000; 
  }
  
  .signup-text, .login-text {
    color: #ff4500; 
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .signup-text:hover, .login-text:hover {
    color: #444; 
    transform: scale(1.1);
  }
  
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #FFFFFF; 
    border-radius: 50%;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }
  
  .toggle-password::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #FFFFFF; 
    background-color: transparent;
  }
  
  .toggle-password::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #FFFFFF; 
    opacity: 1;
  }
  
  .toggle-password.show::after {
    opacity: 0;
  }
  