version: '3.8'
services:
  db:
    container_name: fobias-db
    build:
      context: ./db
    env_file:
      - ./db/.env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    container_name: fobias-api
    build:
      context: ./api
    depends_on:
      - db
    volumes:
      - ./api:/app
    ports:
      - "8000:8000"    

volumes:
  db_data:
